.mainLayout {
  min-height: 100vh;
}
.mainContent {
  display: flex;
  padding-top: 60px;
}
.content {
  max-width: 640px;
  width: 100%;
  margin: 15px auto 0;
}
.content960 {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
